@{
    //ViewData["Title"] = "FI Policy";
    ViewData["Owner"] = "Created By FI Pranto";
}
<!--<h1>@ViewData["Title"]</h1>-->
<h1>@ViewData["Owner"]</h1>

<p>Allah is the Greatest ,My Allah Help Me.....</p>
